/*가운데 VALUE 글씨 디자인*/
.sdms-font{
    font-family: 'JejuGothic', sans-serif;
    color:blueviolet;
    font-size: 80px;
    text-align: center;
}

.sdms-font > a {
    text-decoration: none;
}
/*인트로 텍스트 디자인*/
.intro {
    text-align: center;
    font-family: 'JejuGothic', sans-serif;
}

/*Show Your Life 디자인*/
mark.gray {
    font-size: 70px;
    color: gray;
    background: none;
}

/*Value 디자인*/
mark.blueviolet {
    font-size: 90px;
    color:blueviolet;
    background: none;
}

mark.black {
    font-size: 50px;
    color:black;
    background: none;
}

/*메인 페이지의 Value1 디자인*/
mark.blueviolet1 {
    background: none;
    width: 150px;
    font-size:50px;
    color:blueviolet;
    /* background:red; */
}

/*메인 페이지의 Value2 디자인*/
mark.blueviolet2 {
    font-size: 30px;
    color:blueviolet;
    background: none;
}

/*메인 페이지의 sub_explanation(Value는 질문을 던져~) 텍스트 디자인 */
mark.black1 {
    background: none;
    font-size: 30px;
    color:black;
}

/* 서브 설명 텍스트 디자인 */
.sub_explanation > p {
    font-size: 30px;
    color:black;
}

/* Value 이용 방법 알아보기 디자인 */
.sub_explanation > a {
    color: blueviolet;
    font-size: 30px;
}

/* 당신의 하루를 알려주세요 */
.value_question > p {
    text-decoration: none;
    float: right;
    font-size: 50px;
    color: blueviolet;
}

/*오늘의 Value 질문*/
.today_question > a {
    text-decoration: none;
    float: right;
    font-size: 40px;
    color: #fff;
    background: blueviolet;
}
