body {
    background-color: rgba(200, 157, 229, 0.694);
}

#jumbotron {
    text-align: center;
    /* font-family: 'Jua', sans-serif; */
    margin-top: 30px;
    fill-opacity: 70%;
}

#card-deck {
    margin-top: 30px;
    text-align: center;
}

#container {
    margin-top: 30px;
}

#how-to-use-value {
    color: #fff;
    text-decoration: none;
}

#card {
    align-self: center;    
}

#card-title {
    font-size: 18px;
    text-align: center;
}

#todayQuestion {
    font-size: 15px;
    color: blue;
    text-decoration: none;
    text-align: center;
}

#card-text0 {
    text-align: center;
}

#card-text1 {
    text-align: center;
    margin-top: auto;
}