*{
    font-family: 'Black Han Sans', sans-serif;
    list-style: none;
    text-decoration: none;
    border-collapse: collapse;
    margin: 0px;
    padding: 0px;
    color: #000;
}

.intro_bg{
    background-image:url("DesignThinking_Concept_Image/LogoImage.png");
    width: 960px;
    height: 540px;
    background-repeat: no-repeat;
    background-size: contain;
}

.header{
    margin: auto;
    display: flex;
    width: 1300px;
    background: rgba(153, 102, 255, 0.5);
    height: 86px;
}

.searchArea {
    width: 300px;
    height: 40px;
    background-color: rgba(0,0,0,0.3);
    border-radius: 5px;
    margin-top: 24px;
}

.searchArea > form > input {
    border: none;
    width: 250px;
    height:40px;
    background: rgba(0, 0, 0, 0.0);
    color: #fff;
    padding-left: 10px;
}

.searchArea > form > span {
    width:50px;
    color:#fff;
    font-weight: lighter;
    cursor: pointer;
}

h1 {
    font-size: 48px;
}

.nav{
    display: flex;
    justify-content: flex-end;
    line-height: 86px;
    width: calc(1280px - 300px);
}

.nav > li{
    margin-left: 84px;
}

.nav > li > a {
    color:#fff;
}
.intro_text{
    width: 100%;
    margin: 231px auto 231px auto;
    text-align: center;
}

.intro_text > h1,
.intro_text > h4 {
    color:#fff;
}