<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Show Your Life, VALUE</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="../CSS/MyFoxIs.css"/>
</head>
<body>
    <!-- Navbar-->
    <nav class="navbar navbar-expand-lg navbar-light bg-light" id="navbar">
        <a class="navbar-brand" href="./main.html">VALUE</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Menu
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="./MyValue.html">나의 가치관</a>
                <a class="dropdown-item" href="./MyAutobiography.html">내 자서전</a>
              </div>
            </li>
          </ul>
        </div>
      </nav>
    <div class="container" id = "container">
      <div class="jumbotron" id="jumbotron">
        <h1 class="display-4" id = text>나의 여우 유형 확인하기</h1>
        <p class="lead" id="text">나의 하루를 작성해 얻은 키워드를 가지고 나는 어떤 유형의 여우인지 확인해보세요.</p>
        <hr class="my-4">
        <p id="text">두려움, 사랑, 성찰, 책임, 자신, 타인, 인생, 능력, 휴식 중 당신은 어떤 여우인가요?</p>
      </div>
      <div class="card-deck">
        <div class="card">
          <img src="../public/회색여우.png" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title" id="text">두려움</h5>
            <p class="card-text" id="text">당신의 키워드가 '두려움'이라면</p>
            <p class="card-text" id="text">이 카드를 누르세요.</p>
            <center>
              <button type="button" class="btn btn-outline-primary" onclick="location.href='../ColorFox/BlackFox.html'">확인하기</button>
            </center>
          </div>
        </div>
        <div class="card">
          <img src="../public/꽃분홍 여우.png" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title" id="text">사랑</h5>
            <p class="card-text" id="text">당신의 키워드가 '사랑'이라면</p>
            <p class="card-text" id="text">이 카드를 누르세요.</p>
            <center>
              <button type="button" class="btn btn-outline-primary" onclick="location.href='../ColorFox/PinkFox.html'">확인하기</button>
            </center>
          </div>
        </div>
        <div class="card">
          <img src="../public/노랑여우.png" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title" id="text">성찰</h5>
            <p class="card-text" id="text">당신의 키워드가 '성찰'이라면</p>
            <p class="card-text" id="text">이 카드를 누르세요.</p>
            <center>
              <button type="button" class="btn btn-outline-primary" onclick="location.href='../ColorFox/YellowFox.html'">확인하기</button>
            </center>
          </div>
        </div>
      </div>
      <br>
      <div class="card-deck">
        <div class="card">
          <img src="../public/파란여우.png" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title" id="text">책임</h5>
            <p class="card-text" id="text">당신의 키워드가 '책임'이라면</p>
            <p class="card-text" id="text">이 카드를 누르세요.</p>
            <center>
              <button type="button" class="btn btn-outline-primary" onclick="location.href='../ColorFox/BlueFox.html'">확인하기</button>
            </center>
          </div>
        </div>
        <div class="card">
          <img src="../public/빨간여우.png" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title" id="text">자신</h5>
            <p class="card-text" id="text">당신의 키워드가 '자신'이라면</p>
            <p class="card-text" id="text">이 카드를 누르세요.</p>
            <center>
              <button type="button" class="btn btn-outline-primary" onclick="location.href='../ColorFox/RedFox.html'">확인하기</button>
            </center>
          </div>
        </div>
        <div class="card">
          <img src="../public/주황여우.png" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title" id="text">타인</h5>
            <p class="card-text" id="text">당신의 키워드가 '타인'이라면</p>
            <p class="card-text" id="text">이 카드를 누르세요.</p>
            <center>
              <button type="button" class="btn btn-outline-primary" onclick="location.href='../ColorFox/OrangeFox.html'">확인하기</button>
            </center>
          </div>
        </div>
      </div>
      <br>
      <div class="card-deck">
        <div class="card">
          <img src="../public/보라여우.png" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title" id="text">인생</h5>
            <p class="card-text" id="text">당신의 키워드가 '인생'이라면</p>
            <p class="card-text" id="text">이 카드를 누르세요.</p>
            <center>
              <button type="button" class="btn btn-outline-primary" onclick="location.href='../ColorFox/PurpleFox.html'">확인하기</button>
            </center>
          </div>
        </div>
        <div class="card">
          <img src="../public/초록여우.png" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title" id="text">능력</h5>
            <p class="card-text" id="text">당신의 키워드가 '능력'이라면</p>
            <p class="card-text" id="text">이 카드를 누르세요.</p>
            <center>
              <button type="button" class="btn btn-outline-primary" onclick="location.href='../ColorFox/PinkFox.html'">확인하기</button>
            </center>
          </div>
        </div>
        <div class="card">
          <img src="../public/밝은분홍여우.png" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title" id="text">휴식</h5>
            <p class="card-text" id="text">당신의 키워드가 '휴식'이라면</p>
            <p class="card-text" id="text">이 카드를 누르세요.</p>
            <center>
              <button type="button" class="btn btn-outline-primary" onclick="location.href='../ColorFox/YellowFox.html'">확인하기</button>
            </center>
          </div>
        </div>
      </div>
    </div>
</body>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" ></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</html>